*{
    margin:0;
    padding:0;
}

body {
    text-align: center;
    background-color:#517664;
}

.container{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    gap:1.5vmin;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 2rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.5);
    font-size: 8vmin;
    color: #2D3319;
    background-color:#f3f3f3;
}

#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#CACFD6;
    color: #2D3319;
    border-radius: 1rem;
    border: none;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color:#CACFD6;
    color: #2D3319;
    border-radius: 1rem;
    border: none;

}

#msg{
    color:black;
    font-size: 8vmin;
}

.msg-container{
    height:30vmin;
}

.hide{
    display: none;
}
